
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div style="color:white;border-bottom: 3px solid white; "><h1>Job Listing</h1>
  <%= form_tag 'jobpool/search', :method => :get do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
  <% end %>
</div>

<% @jobs.each do |job| %>
    <div class="entry">
      <div style="float:left;height:20px;color: white; font-family: sans-serif;padding-top:5px;align:center;">
        <h3><%="Job Name: "+ job.name %></h3>
      </div>
      <div style="float:left;height:20px;padding-top:15px;padding-left:5px;align:center;">
        <% if user_signed_in? %>
        <%= button_to 'Apply',new_jobapplication_path(:job_id=>job) %>
        <% end %>
      </div>
      <br>
      <div style="padding-top:15px;margin-top: 13px;margin-left: 0px;font: bold 200% sans-serif;color:white; border-bottom: 1px solid white;">
        <p>
          <%= "Job Description: "+sanitize(job.content) %>
          <br>
            <%="Job Field: "+job.field %>
          <br><%= "Employer: "+job.employer_name.to_s %><br>
          <%= "Tags: "+job.tag %> <br>
          <%="Deadline: "%> <%=job.deadline %></p>
      </div>

    </div>
<% end %>