<h1>Listing jobs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Field</th>
      <th>Tag</th>
      <th>Employer</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr class='<%= cycle('list_line_odd','list_line_even') %>'>
        <td class="list_description"><%= job.name %></td>
        <td class="list_description"><%= job.content %></td>
        <td class="list_description"><%= job.field %></td>
        <td class="list_description"><%= job.tag %></td>
        <td class="list_description"><%= job.employer %></td>
        <td><%= job.deadline %></td>
        <td class="list_actions"><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a New Job', new_job_path %>
