<div style="color:white; "><p id="notice"><%= notice %></p>

<div style="color:white; font: bold 150% sans-serif;"><p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>


<p>
  <strong>Content:</strong>
  <%= @job.content %>
</p>

<p>
  <strong>Field:</strong>
  <%= @job.field %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @job.tag %>
</p>


<p>
  <strong>Employer:</strong>
  <%= @job.employer_name.to_s %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @job.deadline %>
</p>
</div>

<div style="color:white; font: bold 150% sans-serif;"><%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %></div>
    </div>