<div style="color:white"><h1>Existing Job Categories</h1>

<table>

  <thead>
    <tr>
      <th>Category name</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <style>
      /* unvisited link */
      a:link {
          color: bisque;
      }

      /* visited link */
      a:visited {
          color: silver;
      }

      /* mouse over link */
      a:hover {
          color: #FF00FF;
      }
  </style>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.category_name %></td>
        <td><%= %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>

<%= link_to 'New Job Category', new_category_path %>
</div>